@charset "UTF-8";
@keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}
@keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}
input:-webkit-autofill {
  animation-name: onAutoFillStart;
}
input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}
.bd-menu-docs-toggle {
  line-height: 1;
  color: #19191a;
}
.bd-logo-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: unset;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .bd-logo-title {
    font-size: 24px;
  }
}
.bd-logo-subtitle {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: unset;
}
@media (min-width: 576px) {
  .bd-logo-subtitle {
    font-size: 1rem;
  }
}
.bd-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  .bd-lead {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}
.section-nav ul {
  padding-left: 1rem;
}
.section-nav ul ul {
  display: none;
}
.bd-links {
  padding: 0;
}
@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-links .bd-links {
      max-height: calc(95vh);
      overflow-y: auto;
    }
  }
}
.bd-highlight {
  background-color: rgba(0, 102, 204, 0.15);
  border: 1px solid rgba(0, 102, 204, 0.15);
}
.projects-list .module-item {
  display: flex;
  justify-content: space-between;
}
.projects-list .build-date {
  margin-right: 10px;
}
.projects-list .show-documents ul {
  display: none;
}
.projects-list .show-documents ul.js-open {
  display: block;
}
.options ul {
  list-style: none;
  padding-left: 0;
}
.btn-grey,
select {
  border: 0;
  cursor: pointer;
  padding: 6px 10px 4px;
  margin: 7px 7px 0 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #8CA1AF;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px #465158;
}
.btn-grey:hover,
select:hover {
  background-color: #697983;
  box-shadow: 0 1px 0px #465158;
}
.submit-input-wrapper {
  margin-top: 20px;
}
.search-results {
  margin-top: 40px;
}
#project_edit .project_edit__menu {
  margin-right: 0;
}
#project_edit .project_edit__form {
  padding-left: 16px;
}
#project_edit .project_edit__form h3,
#project_edit .project_edit__form h4 {
  margin-top: 16px;
}
#project_edit .project_edit__form label {
  font-weight: bold;
  margin-bottom: 0;
}
#project_edit .project_edit__form input {
  font-weight: normal;
}
#project_edit .project_edit__form label + select {
  margin-left: 10px;
}
#project_edit .project_edit__form textarea {
  width: 100%;
}
#project_edit .project_edit__form .helptext {
  display: block;
  color: #5c6f82;
  font-size: 16px;
}
.project-import-sidebar .remote-filters {
  list-style: none;
  padding-left: 0;
}
.results-header {
  dispay: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.module-item.search-result {
  border-right: 1px solid #bfbfbf;
  border-bottom: 0;
}
.module-item.search-result:nth-of-type(3n) {
  border-right: 0;
}
.module-item.search-result hr {
  margin: 0;
  margin-top: 50px;
  width: 50%;
}
.search-result-publisher {
  text-transform: uppercase;
}
.search-result-publisher:before {
  font-family: FontAwesome;
  content: "\f15c";
  padding-right: 8px;
  color: #0062ce;
  font-size: 40px;
  line-height: 1.3;
  float: left;
}
.column-search-filters {
  padding: 0;
}
.column-search-filters li {
  list-style: none;
}
.results-filter select {
  border: 1px solid #E5E5E5;
  background-color: #fff;
  color: #1F62A5;
  text-shadow: none;
  box-shadow: none;
}
.document-list {
  min-height: 240px;
}
.separator-book {
  z-index: 100;
}
.separator-book svg {
  height: auto;
  width: 100%;
}
.search-main {
  background: #d1e7ff left center no-repeat;
}
@media (min-width: 768px) {
  .search-main {
    background-image: url(../images/book-bg.png), url(../images/documents-bg.png);
    background-position: left center, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 193px 357px, 192px 372px;
  }
}
.search-main .bg-dark {
  background-color: #d1e7ff !important;
}
.search-main .search-main-icon {
  font-size: 1.4rem;
}
.search-main input[type=text].search-main-input {
  height: 4.2rem;
  line-height: 4.2rem;
  font-size: 1.6rem;
  font-weight: normal;
  border-bottom: 0;
  box-shadow: 0 10px 40px 0 rgba(102, 165, 227, 0.4);
}
.simplelayout-main-content p,
.simplelayout-main-content ul {
  font-family: "Lora", "Georgia", Serif;
  font-size: 1.1rem;
  color: #656566;
}
.simplelayout-main-text {
  position: relative;
  margin-top: -3rem;
  padding: 1rem;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 10px 80px 0 rgba(90, 103, 114, 0.1);
}
@media (min-width: 768px) {
  .simplelayout-main-text {
    padding: 4rem;
    margin-top: -6rem;
  }
}
.simplelayout-main-text h1 {
  color: #17324D;
}
*[class*='icon-type']:before {
  color: #00264D;
  content: '';
  font-size: inherit;
  line-height: 0;
  margin-right: 1rem;
  position: relative;
}
.icon-type-document:before {
  content: url("../images/document.svg");
}
.main-title {
  margin: 4rem 0 2rem;
  border-bottom: 1px solid #D8D8D8;
}
.footer {
  background-color: #00264D;
  color: #FFF;
  padding: 3em 0;
}
@media screen and (min-width: 576px) {
  .footer {
    text-align: left;
  }
}
.footer .social {
  font-size: 1.2em;
  color: #fff;
}
.footer .social > span {
  margin-right: 1em;
}
.footer .social .small-prints {
  font-size: 0;
}
.footer .social .icon {
  color: #00264D;
  background-color: #fff;
  padding: 0.2em 0.4em;
  border-radius: 100%;
  font-size: initial;
  margin-right: 0.4em;
}
@media screen and (max-width: 768px) {
  .footer .social {
    text-align: left !important;
    margin-top: 1em;
  }
}
.footer .agid-logo {
  height: 56px;
  max-width: 100%;
}
.footer .agid-collab {
  margin-top: 1em;
}
.footer .team-logo--icon {
  width: 72px;
}
.footer .team-logo--text {
  font-size: 16px;
  line-height: 18px;
  max-width: 160px;
  text-transform: uppercase;
}
.footer .small-prints {
  color: #00FFF8;
  font-weight: 600;
}
.footer .colophon {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 2em;
}
.footer .colophon .list-inline-item:not(:last-child) {
  margin-right: 1.5em;
}
.bd-navbar {
  min-height: 5rem;
  background-color: #06c;
}
.bd-navbar .navbar-nav .nav-link {
  font-size: 16px;
  padding: 12px 16px !important;
}
.bd-navbar .navbar-nav .nav-link.btn-outline-primary-white {
  color: white;
  box-shadow: inset 0 0 0 1px #FFF;
}
@media (min-width: 1200px) {
  .bd-navbar .navbar-nav .nav-link {
    font-size: 16px;
    padding: 12px 24px !important;
  }
}
.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}
.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
}
.bd-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
.bd-navbar .dropdown-menu {
  font-size: .875rem;
}
.bd-navbar .dropdown-menu .dropdown-item.active {
  font-weight: 500;
  color: #19191a;
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") 0.4rem 0.6rem no-repeat;
  background-size: 0.75rem 0.75rem;
}
@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;
    }
  }
}
.bd-search {
  background-color: #fff;
  position: relative;
}
@media (min-width: 992px) {
  .bd-search {
    max-width: 20rem;
  }
}
.bd-search .form-control:focus {
  border-color: #1a8cff;
  box-shadow: 0 0 0 3px rgba(26, 140, 255, 0.25);
}
.bd-logo-title span {
  font-size: 50%;
  font-size: 0.7rem;
  font-weight: 400;
}
.bg-primary--mid-dark {
  background-color: #004e95;
}
.navbar.navbar-institutional {
  background-color: #0059b3;
  padding: .25rem 1rem;
}
.navbar.navbar-institutional .navbar-brand {
  font-size: 14px;
  font-weight: 400;
}
.navbar.navbar-institutional .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0.75rem;
}
.navbar.navbar-institutional .navbar-nav .nav-item {
  padding: .5rem 0;
}
.navbar.navbar-institutional .navbar-nav .nav-item:hover {
  box-shadow: 0 0.25rem 0 0 #fff;
}
@media (min-width: 768px) {
  .navbar.navbar-institutional .navbar-nav .nav-item .nav-item-w-divider .nav-link {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.blue-to-transparent-up {
  background: #0066cc;
  background: linear-gradient(178deg, #0066cc 0%, #0066cc 74.9%, rgba(255, 255, 255, 0) 75%);
}
.blue-to-transparent-down {
  background: #0066cc;
  background: linear-gradient(182deg, #0066cc 0%, #0066cc 74.9%, rgba(255, 255, 255, 0) 75%);
}
.transparent-to-blue-up {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(-182deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 74.9%, #0066cc 75%);
}
.transparent-to-blue-down {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(182deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 74.9%, #0066cc 75%);
}
.amministrazione__logo {
  height: 64px;
  width: 64px;
}
.amministrazione__nome {
  color: #1C2024;
}
.amministrazione__link {
  letter-spacing: 1px;
}
.document-card {
  overflow: hidden;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .document-card {
    min-height: 20rem;
    height: 20rem;
  }
}
.document-card:after {
  content: ' ';
  box-sizing: border-box;
  height: 2px;
  line-height: 2px;
  position: absolute;
  bottom: 0px;
  width: 6rem;
  border-bottom: 1px solid #D8D8D8;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .document-card:before {
    content: ' ';
    background: #D8D8D8;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1px;
    top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .document-card:nth-child(3n):before {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .document-card:nth-child(3n):before {
    display: none;
  }
  .document-card.col-lg-3:nth-child(3n):before {
    display: block;
  }
  .document-card.col-lg-3:nth-child(4n):before {
    display: none;
  }
}
.document-card-header {
  color: #455B71;
  font-size: 0.8rem;
  vertical-align: middle;
  line-height: 0.9rem;
  display: inline-flex;
  align-items: center;
}
.document-card-header a,
.document-card-header a:hover {
  color: #455B71;
}
.document-card-title,
.document-card-description {
  position: relative;
  overflow: hidden;
}
.document-card-title:after,
.document-card-description:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}
.document-card-description em {
  background-color: #003366;
  color: #FFF;
}
.document-card-title {
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .document-card-title {
    height: 104px;
  }
  .document-card-title:after {
    height: 26px;
  }
}
.document-card-description {
  font-family: "Lora", "Georgia", Serif;
  color: #455B71;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .document-card-description {
    height: 140px;
  }
  .document-card-description:after {
    height: 20px;
  }
}
@supports (-webkit-line-clamp: 1) {
  .document-card-title,
  .document-card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: auto;
  }
  .document-card-title:after,
  .document-card-description:after {
    display: none;
  }
  .document-card-title {
    -webkit-line-clamp: 4;
  }
  .document-card-description {
    -webkit-line-clamp: 7;
  }
}
.publish .list-group {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  z-index: 10;
  display: none;
  height: 125px;
}
.publish .list-group:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 50%;
  border-radius: 100%;
}
@media screen and (min-width: 992px) {
  .publish .list-group {
    display: flex;
  }
}
.publish .list-group ol {
  background: white;
  padding: 1rem;
  list-style: none;
  counter-reset: count;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  margin-bottom: 0;
}
.publish .list-group .list-group-item {
  font-size: 0;
  border: 0;
  font-size: 0.8rem;
  counter-increment: count;
  padding: 2rem .5rem .5rem;
  text-align: center;
  line-height: 1rem;
  min-height: 5rem;
}
.publish .list-group .list-group-item:before {
  content: counter(count);
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  position: absolute;
  left: calc(38%);
  top: .5rem;
}
.publish .publish-article:after {
  display: inline-block;
  content: '';
  box-sizing: border-box;
  height: 2px;
  line-height: 2px;
  bottom: 0px;
  width: 6rem;
  border-bottom: 1px solid #D8D8D8;
  opacity: 0.5;
}
.publish .publish-article:last-child:after {
  display: none;
}
