// From https://medium.com/@brunn/detecting-autofilled-fields-in-javascript-aed598d25da7
@keyframes onAutoFillStart {  from {/**/}  to {/**/}}
@keyframes onAutoFillCancel {  from {/**/}  to {/**/}}
input:-webkit-autofill {
  animation-name: onAutoFillStart;
}
input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

.bd-menu-docs-toggle {
  line-height: 1;
  color: #19191a
}

.bd-logo-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: unset;
  margin-bottom: 0;
  @media (min-width: 576px) {
    font-size: 24px;
  }
}

.bd-logo-subtitle {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: unset
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem
}

.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
  @media (min-width: 576px) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
  ul {
    padding-left: 1rem;
    ul {
      display: none;
    }
  }
}

.bd-links {
  padding: 0;
  @media (min-width: 768px) {
    display: block !important
  }
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-links {
      max-height: calc(100vh - 5rem);
      overflow-y: auto
    }
  }
}


.bd-highlight {
  background-color: rgba(0, 102, 204, .15);
  border: 1px solid rgba(0, 102, 204, .15)
}

.docs-book svg {
  height: auto;
  width: 100%;
}

.docs-card {
  overflow: hidden;
  @media screen and (min-width: 768px) {
      min-height: 16rem;
      height: 16rem;
  }
}

.docs-card-header {
  color: #5a6772;
  border-left: .5rem solid #06c;
}

.docs-card-content {
  color: #5a6772;
  border-left: .5rem solid currentColor;
}

.docs-card-content-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.docs-card-content-title h4 {
  font-size: 1.2rem;
  a {
    color: #06c;
  }
}

.projects-list {
  .module-item {
    display: flex;
    justify-content: space-between;
  }
  .build-date {
    margin-right: 10px;
  }
  .show-documents {
    ul {
      display: none;

      &.js-open {
        display: block;
      }
    }
  }
}

.options {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.btn-grey,
select {
  border: 0;
  cursor: pointer;
  padding: 6px 10px 4px;
  margin: 7px 7px 0 0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #8CA1AF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px #465158;
  -moz-box-shadow: 0 1px 1px #465158;
  -webkit-box-shadow: 0 1px 1px #465158;

  &:hover {
    background-color: #697983;
    box-shadow: 0 1px 0px #465158;
    -moz-box-shadow: 0 1px 0px #465158;
    -webkit-box-shadow: 0 1px 0px #465158;
  }
}

.submit-input-wrapper {
  margin-top: 20px;
}

.search-results {
  margin-top: 40px;
}

#project_edit {
  .project_edit__menu {
    margin-right: 0;
  }

  .project_edit__form {
    padding-left: 16px;

    h3,
    h4 {
      margin-top: 16px;
    }

    label {
      font-weight: bold;
      margin-bottom: 0;
    }

    input {
      font-weight: normal;
    }

    label + select {
      margin-left: 10px;
    }

    textarea {
      width: 100%;
    }

    .helptext {
      display: block;
      color: #5c6f82;
      font-size: 16px;
    }
  }
}

.project-import-sidebar {
  .remote-filters {
    list-style: none;
    padding-left: 0;
  }
}

.projects-filter {
    &:before {
        font-family: FontAwesome;
        content: "\f07b";
        padding-right: 8px;
    }
}

.results-header {
    dispay: block;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.module-item.search-result {
    border-right: 1px solid #bfbfbf;
    border-bottom: 0;

    &:nth-of-type(3n) {
        border-right: 0;
    }

    hr {
        margin: 0;
        margin-top: 50px;
        width: 50%;
    }
}

.search-result-publisher {
    text-transform: uppercase;
    &:before {
        font-family: FontAwesome;
        content: "\f15c";
        padding-right: 8px;
        color: #0062ce;
        font-size: 40px;
        line-height: 1.3;
        float: left;
    }
}

.column-search-filters {
    li {
        list-style: none;
    }
}

.results-filter {
    select {
        border: 1px solid #E5E5E5;
        background-color: #fff;
        color: #1F62A5;
        text-shadow: none;
        box-shadow: none;
    }
}


.document-list {
  min-height: 240px;
}

.search-main {
  background: #d1e7ff  left center no-repeat;
  @media (min-width: 768px) {
    background-image: url(../images/book-bg.png), url(../images/documents-bg.png);
    background-position: left center, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 386/2px 714/2px, 384/2px 744/2px;
  }
  .bg-dark {
    background-color: #d1e7ff !important;
  }

  .search-main-icon {
    font-size: 1.4rem;
  }

  input[type=text].search-main-input {
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 1.6rem;
    font-weight: normal;
    border-bottom: 0;
    box-shadow: 0 10px 40px 0 rgba(102,165,227,0.4);
  }
}